body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}

section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section img {
    max-width: 80%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
    margin-top: 10px;
}

#company-history {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#heart-button, #dark-mode-button {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#heart-button:hover, #dark-mode-button:hover {
    color: red;
}
